body {
    background: url("../images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#everything {
    margin:auto;
    margin-top:20px;
    min-height:350px;
    background:#666;
    opacity:.7;
    color:white;
    padding:35px;
}



.row,
.main {
    align-items:center;
    justify-content:center;
}

#timer,
#question,
#choices {
    align-content:center;
    justify-content:right;
    text-align:center;
    text-justify:center;
}

button {
    width:200px;
    margin:5px;
    align-items:center;
}

button:hover {
    background:yellow;
}

#content {
    position:relative;
    text-align:center;
    /* top:50px; */
}

h2 {
    text-align:center;
}